<h1>Sequence of numbers</h1>

<form action="<%= index_output_url %>">
 <p>Enter the number of numbers:</p>
 <p><input name="n"/></p>
 <p>Enter the numbers:</p>
 <p><input name="sequence"/></p>
 <p><input type="submit" value="Submit"></p>
</form>